* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: #87A9FF;
  font-family: Arial, sans-serif;
}

h1,p {
  text-align: center;
}

h1 {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.container {
  margin-top: 3rem;
  position: absolute;
  bottom: 0;
  right: 10px;
  left: 10px;
  background-color: white;
  height: 40%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

form {
  max-width: 450px;
  padding: 2rem 3rem;
  margin-inline: auto;
}

input, select {
  display: block;
  height: 40px;
  width: 100%;
  color: black;
}

input {
  font-weight: 600;
  font-size: 1rem;
  padding: 10px;
}

label {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 5px;
  color: gray;
}
